        body{
            background-image: linear-gradient(to top, rgb(255, 218, 55), rgb(235, 192, 0) );

        }
        img {
            width: 350px;
            display: block; /* Essencial para que a margem funcione */
            margin-left: auto;
            margin-right: auto;
            /* Ou o atalho: margin: 0 auto; */
        }    

        .post {
            background-color: white;
            padding: 2px;
            box-shadow: 0 4px 8px #00000081;
            text-align: center;
            margin: 10px;
            text-decoration: none;
            border-radius: 200px;
            transform: none
        }

        
        .post h2 {
            color: rgb(0, 0, 0);
        }

        main {
            background-color: rgba(255, 255, 255, 0);
            min-width: 200px;
            max-width: 500px;
            min-height: 400px;
            margin: auto;
            padding: 30px;     
        }

        main a { 
            text-decoration: none;
            color: #000000;            
        }        

        main a:hover {
            color: brown;
            font-size: 1.3em;
        }

        aside{
            background-image: linear-gradient(to top, rgb(255, 218, 55), rgb(235, 192, 0) );
            max-width: 400px;
            margin: auto;
            margin-top: 30px;
            padding: 20px;    
            border-radius: 10px
        }

        nav {
            text-align: center;
            background-color: rgba(235, 192, 0, 0.121);
            padding: 10px;
            margin-top: 10px;
            margin-top: 60px;
        }

        nav a {
            text-decoration: none;
            color: #000000;
            margin: 5px;
            padding: 0.5px;
        }

        nav a:hover{
            color: rgb(0, 14, 95);
        }

        footer {
            background-color: rgba(255, 255, 255, 0.2);
            text-align: center;
            padding: 1px;
            color: #000000;
            margin-top: 10px;
        }

        footer a {
            color: #000000;
            transition: 0.5s;
        }

        footer a:hover {
            color: rgb(0, 14, 95);
            font-size: 1.3em;
        }


